<html>
    <head>
        <title>Add</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Add New User</h1>
        <form action ='' method ='post'>
            <label>Name:</label>
            <input type="text" , name="name" required>
            <label>Age:</label>
            <input type="text" , name="age" required>
            <label>Department:</label>
            <input type="text" , name="department" required>
            <input type="submit" class="add_button" value="Save">
        </form>
    </body>
</html>