<html>
    <head>
        <title>DB</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Employee DataBase Using Django/Flask & Mysql</h1>


      <tr>
            <th><a href="{{url_for('addUser')}}"><button class="my_button" type="button">Add</button></a></th>
            <th><a href="{{url_for('listall')}}"><button class="my_button" type="button">View</button></a></th>
            <th><a href="{{url_for('delete')}}"><button class="my_button" type="button">Delete</button></a></th>
            <th><a href="{{url_for('search')}}"><button class="my_button" type="button">Search</button></a></th>
           
    </tr>
    </body>
</html>


